body {
    margin: 0;
}
/* primary */
.tour {
    background-color: #fdd835;
}
.tc-w h1{
    color: white;
    padding: 1rem;

}
.tc-w h3{
    color: white;
    padding: 1rem;
    opacity: .7;
}

/* icon */
.icon-c {
    background-color: white;
    /* box-shadow: 0 1px 3px rgba(3,0,71,.09)!important; */
}
.icon {
    font-size: 2rem;
}
.icon-t h2 {
    font-size: 1rem;
    font-weight: bold;
}
.icon-t h3 {
    font-size: .8rem;
}
.mxhi {
    width: 100%;
}

/* content */
p {
    margin-bottom: 0;
}
.con-c {
    background-color: #fafafa;
}
.ctt-1 {
    background-color: white;
    box-shadow: 0 0 0.5rem 0 #e0e0e0;
    padding: 1rem;
    border-radius: 4px;
}
.ctt-1 button img {
    width: 1.5rem;
    float: left;
}
.ctt-1 img {
    width: 100%;
    border-radius: 4px;
}
.btn-1, .btn-2 {
    width: 100%;
    border: none;
}
.btn-1 img {
    display: inline-block;
}
.btn-1 p {
    text-align: center;
    display: inline;
}
.mhc:hover {
    box-shadow: 0 0 0.5em 0 #2979ff;
}
.mxhb {
    margin: 0 auto;
}

/* footer */
.mt-5 a {
    text-decoration: none;
    color: #e65100;
}
.mt-5 h2, .mt-5 address {
    color: #616161;
}
.mt-5 p i {
    color:  #e65100;
}
